<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection properties - Driver, URL, user, password -->
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://192.168.3.10;databaseName=HRD;</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">sa1@</property>
        <!-- Connection Pool Size -->
        <property name="hibernate.connection.pool_size">1</property>
         
        <!-- org.hibernate.HibernateException: No CurrentSessionContext configured! -->
        <property name="hibernate.current_session_context_class">thread</property>
         
        <!-- Disable the second-level cache -->
         <!-- <property name="hibernate.cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property> --> 
        <!-- Outputs the SQL queries, should be disabled in Production -->
        <property name="hibernate.show_sql">true</property>
         
        <!-- Dialect is required to let Hibernate know the Database Type, MySQL, Oracle etc
            Hibernate 4 automatically figure out Dialect from Database Connection Metadata -->
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property> 
        <property name="hbm2ddl.auto">update</property>
 
        <!-- mapping file, we can use Bean annotations too -->
        <mapping class="com.hrms.model.EmployeeLoginDetailsBean" />
        <mapping class="com.hrms.model.EmpMasterBean"/>
        <mapping class="com.hrms.model.EmployeeGenDetailsBean"/> 
        <mapping class="com.hrms.model.EmpAddressBean"/>
        <mapping class="com.hrms.model.EmpFamilyDetails"/>
        <mapping class="com.hrms.model.EmpProfessionalInfoBean"/>
        <!-- <mapping class="com.hrms.model.EmpAttendenceDetailsBean"/> -->
        <mapping class="com.hrms.model.EmployeeLeaveManagementBean"/>
        <mapping class="com.hrms.model.EmployeeImagesDataBean"/>
        <mapping class="com.hrms.model.AttendenceUploadBean"/>
        <mapping class="com.hrms.action.EmployeeLoginAction"/>
        <mapping class="com.hrms.model.EmoloyeeDocumentDetailsBean"/>
        <mapping class="com.hrms.model.HRPolicyDetailsBean"/>
        <mapping class="com.hrms.model.EmpLeaveApplyBean"/>
        <!-- <mapping class="com.hrms.action.EmpAttendenceUploadAction"/> -->
       	<mapping class="com.hrms.model.EmployeeTimeSheetSubmitDetailsBean"/>
       	<mapping class="com.hrms.model.EmployeeNotification"/>
       	<mapping class="com.hrms.dao.EmployeeLoginDao"/>
       	<mapping class="com.hrms.model.ProjectDetailsBean"/>
        <mapping class="com.agni.hrms.bean.EmpFamilyDetailsBean"/>
        <mapping class="com.hrms.model.EmpEducationDetails"/>
        <mapping class="com.hrms.model.NewsAndBlogsModel"/>
        <mapping class="com.hrms.model.EmpEventsUploadModel"/>
        <mapping class="com.hrms.model.ImagesUploadModel"/>
        
    </session-factory>
</hibernate-configuration>